fastapi
uvicorn
python-multipart
requests
PyPDF2
python-docx
faiss-cpu
numpy
pydantic
aiofiles
beautifulsoup4
lxml
mistralai>=1.0.0
python-dotenv
pandas
openpyxl
pytesseract
Pillow
python-pptx
oletools
PyMuPDF
langchain-text-splitters
httpx[http2]
demjson3
google-generativeai
firebase-admin
supabase